<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="public/styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="javascript/github-calendar.js" defer></script>
</head>

<body>
  <header class="header">
    <h1>{{ name }}</h1>
    <p>{{ job }}</p>
  </header>
  <div name="{{ github.token }}" id="token"></div>
  <section class="github-contributions">
    <h2 id="label">github</h2>
    <object id="calendar" data="public/svg/github-calendar.svg" alt="github contribution calendar"></object>
  </section>
  <section class="writing">
    <h2>writing</h2>
    <div class="posts">
      {% for post in wordpress.posts %}
        <div class="post-preview">
          <h3 class="post-header">{{post.title}}</h3>
          <div id="post-html">{{post.content | safe}}</div>
        </div>
      {% endfor %}
    </div>
  </section>

  {# <section class="contact">
    <h2>contact</h2>
    <form>
      <label for="name">name</label>
      <input type="text" id="name">
      <label for="message">message</label>
      <input type="textarea" id="message">
      <input type="submit" value="send">
    </form>
  </section> #}

  {{ content | safe }}
</body>
</html>